# EmailJS設定
# https://www.emailjs.com/ でアカウント作成後、以下の値を設定してください
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=your_public_key
NEXT_PUBLIC_EMAILJS_SERVICE_ID=your_service_id
NEXT_PUBLIC_EMAILJS_RECRUIT_TEMPLATE_ID=your_recruit_template_id
NEXT_PUBLIC_EMAILJS_BUSINESS_TEMPLATE_ID=your_business_template_id
